+++
title = "Web Development Blog"
description = "Hello Open Source World"
+++

<p class="center-align">
  <a class="waves-effect waves-light btn
            blue-grey darken-2 hoverable
            m-b-5"
     href="/pages/archives">
    <span class="hide-on-small-only">
      Articles Sorted </span>by Month</a>
  <a class="waves-effect waves-light btn
            blue-grey darken-1 hoverable
            m-b-5"
     href="/tags">
    <span class="hide-on-small-only">
      Articles Sorted </span>by Tag</a>
</p>

<div class="center-align">
  <img src="images/one-page.png"
       class="responsive-img" 
       alt="business card">
</div>

<p class="center-align">
  <i class="material-icons">home</i><br/>
  Whitewood Street, Monday Market,
  East Jakarta, 55112, Indonesia.</p>
