<head>
  <meta charset="utf-8">
  <title>{{ .Page.Title | default .Site.Title }}</title>

  <!-- Stylesheet -->
  <link type="text/css" rel="stylesheet" media="screen,projection"
        href="{{ "css/materialize.css" | relURL }}">
  <link type="text/css" rel="stylesheet"
        href="{{ "css/main.css" | relURL }}">

  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
