<section class="aside-wrapper green">
  <div class="widget white z-depth-3 hoverable">
    <div class="widget-header green lighten-4">

      <strong>Affiliates</strong>
      <i class="material-icons right">face</i>

    </div>
    <div class="widget-body">

      <ul class="widget-list">
        <li><a href="http://epsi-rns.github.io/"
              >Linux/BSD Desktop Customization</a></li>
        <li><a href="http://epsi-rns.gitlab.io/"
              >Mobile/Web Development Blog</a></li>
        <li><a href="http://oto-spies.info/"
              >Car Painting and Body Repair.</a></li>
      </ul>

    </div>
  </div>
</section>

