<section class="aside-wrapper grey">
  <div class="widget white z-depth-3 hoverable">
    <div class="widget-header grey lighten-4">

      <strong>Car Painting and Body Repair</strong>
      <i class="material-icons right">directions_car</i>

    </div>
    <div class="widget-body responsive-img">

      <div class="center-align">
        <a href="http://oto-spies.info/">
          <img src="{{ "images/adverts/oto-spies-01.png" | absURL }}"
               alt="Oto Spies"></a>
      </div>

    </div>
  </div>
</section>
