{{ define "main" }}
  <!-- main -->
  <main role="main" class="col s12 m8">
    <div class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <h3>{{ .Section }}</h3>

        {{ .Content }}

        <ul>
          {{ range .Data.Pages }}
          <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>

      </div>
    </div>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <div class="aside-wrapper purple">
      <div class="widget white z-depth-3 hoverable">
         This is a default list page.
      </div>
    </div>
  </aside>
{{ end }}
