{{ define "main" }}
  <!-- main -->
  <main role="main" class="col s12 m8">
    <div class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">
        {{ .Content }}
      </div>
    </div>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <div class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">
         This is a default single page.
      </div>
    </div>
  </aside>
{{ end }}
