{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="main-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header cyan lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default taxonomy page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index" }}
  {{ range .Data.Pages }}
    <div class="archive-item">
      <div class="left"><a href="{{ .URL | absURL }}">
        {{ .Title }}
      </a></div>
      <div class="right right-align"><time>
          {{ .Date.Format "02 Jan" }}
          <i class="material-icons left">access_time</i>
      </time></div>
      <div class="clearfix"></div>
    </div>
  {{ end }}
{{ end }}

