{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="main-wrapper light-blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header light-blue lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper pink">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header pink lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default terms page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index" }}
  {{ range $key, $value := .Data.Terms }}
    {{ $posts := where $value.Pages "Type" "post" }}
    {{ $postCount := len $posts -}}

    {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <span class="new blue darken-4 badge z-depth-1 hoverable m-b-5" 
              data-badge-caption="{{ $key }}"><strong>{{ $postCount }}</strong></span>
      </a>
    {{ end }}
  {{- end }}

  <ul>
    {{ range $key, $value := .Data.Terms }}
    <li>
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        {{ $key }} ({{ $postCount }})</a>
    </li>
    {{- end }}
  </ul>
{{ end }}

