  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         <strong>This year's posts ({{ $year }})</strong>
       {{- else -}}
         <strong>{{ .Key }}</strong>
       {{- end -}}
       </div>

  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}
  <div class="p-b-5">
    <div class ="archive-month" 
         id="{{ $year }}-{{ $month }}">
         {{ $month }} - {{ $year }}</div>

    <div class="archive-list">
      {{ range .Pages }}
      <div class="archive-item">
        <div class="left"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
        <div class="right right-align"><time>
            {{ .Date.Format "02 Jan" }}
            <i class="material-icons right">access_time</i>
        </time></div>
        <div class="clearfix"></div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
