{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="index-wrapper brown">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header brown lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Title | default .Site.Title }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header green lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a list archive page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}


{{ define "index" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  <div class="post-list">
  {{ range $posts }}
    <div class="archive p-b-10">
      {{ partial "summary/blog-list.html" . }}
    </div>
  {{ end }}
  </div>
{{ end }}
