{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="index-wrapper orange">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header orange lighten-5">
          <div class="main_title"> 
             <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Title | default .Site.Title }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="articleBody">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">fingerprint</i>
        </div>

        <div class="widget-body">
          <p>This is a single archive page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ partial "summary/by-month.html" . }}
    </div>
  {{ end }}
{{ end }}
