{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="index-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header cyan lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default list page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index-01-simple-list" }}
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "index-02-simple-div" }}
  {{ range .Data.Pages }}
    <div><a href="{{ .URL | absURL }}">
      {{ .Title }}
    </a></div>
  {{ end }}
{{ end }}

{{ define "index-03-styled-div" }}
  <div class="archive-list">
  {{ range .Data.Pages }}
    <div class="archive-item">
      <div class="left"><a href="{{ .URL | absURL }}">
        {{ .Title }}
      </a></div>
      <div class="right right-align"><time>
          {{ .Date.Format "02 Jan" }}
          <i class="material-icons right">access_time</i>
      </time></div>
      <div class="clearfix"></div>
    </div>
  {{ end }}
  </div>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Data.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ partial "summary/by-month.html" . }}
    </div>
  {{ end }}
{{ end }}

