{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="main-wrapper indigo">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header indigo lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Title | default .Site.Title }}</a></h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
        </article>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header green lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default single page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}
