{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="index-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header blue-grey lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default taxonomy page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Data.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div id="archive">
      {{ partial "summary/by-month.html" . }}
    </div>
  {{ end }}
{{ end }}

