{{ define "main" }}
  <main role="main" class="col s12 m8">
    <section class="index-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header blue lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index-header" . }}{{ end }}
          {{ block "index-body" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <section class="aside-wrapper cyan">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header cyan lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a default terms page.</p>
        </div>

      </div>
    </section>
  </aside>
{{ end }}

{{ define "index-header" }}
  {{ range $key, $value := .Data.Terms }}
    {{ $posts := where $value.Pages "Type" "post" }}
    {{ $postCount := len $posts -}}

    {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <span class="new blue darken-4 badge z-depth-1 hoverable m-b-5" 
              data-badge-caption="{{ $key }}"><strong>{{ $postCount }}</strong></span>
      </a>
    {{ end }}
  {{- end }}

  <div class="clearfix"></div>
{{ end }}

{{ define "index-body" }}
  <div>
    {{ range $key, $value := .Data.Terms }}
      <div id="{{ $key }}" class ="anchor-target">
        <i class="material-icons left">local_offer</i>
        {{ $.Data.Singular | humanize }}: 
        <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        {{ $key }}</a>
      </div>
      <div class="clearfix"></div>
      
      <div class="archive-list p-l-25 p-b-5">
      {{ range where $value.Pages "Type" "post" }}
      <div class="archive-item meta-item">
        <div class="meta_link right-align">
          <time class="meta_time right"
                datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "Jan 02, 2006" }}
            <i class="material-icons right">access_time</i></time></div>
        <div class="left"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
        <div class="clearfix"></div>
      </div>
      {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
