{{ define "main" }}
  <!-- main -->
  <main role="main" class="col s12 m8">
    <div class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <b>{{ .Date.Format "2006, 02 January" }}</b>
        {{ .Content }}

      </div>
    </div>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col s12 m4">
    <div class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">
         This is a single post page.
      </div>
    </div>
  </aside>
{{ end }}
