{{ define "main" }}
  {{ $color := "cyan" }}
  <main role="main" class="col s12">
    <section class="index-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index-by-month" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "index-by-year" }}
  {{ $posts := where .Data.Pages "Type" "post" }}

  <div class="row">
  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ $dict := (dict "Color" "orange" "Key" .Key "Pages" .Pages) }}
      {{ partial "summary/by-year-box.html" $dict }}
    </div>
  {{ end }}
  </div>
{{ end }}

{{ define "index-by-month" }}
  {{ $posts := where .Data.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ $dict := (dict "Color" "cyan" "Key" .Key "Pages" .Pages) }}
      {{ partial "summary/by-month-box.html" $dict }}
    </div>
  {{ end }}
{{ end }}

