{{ define "main" }}
  {{ $color := "blue" }}
  <main role="main" class="col s12">
    <section class="index-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="#">{{ .Section }}</a></h4>
          </div>
        </section>

        <section class="blog-index" itemprop="ItemList">
          {{ .Content }}
          {{ block "index-header" . }}{{ end }}
          {{ block "index-body" . }}{{ end }}
        </section>

      </div>
    </section>
  </main>
{{ end }}

{{ define "index-header" }}
  {{ $color := "blue" }}

  {{ range $key, $value := .Data.Terms }}
    {{ $posts := where $value.Pages "Type" "post" }}
    {{ $postCount := len $posts -}}

    {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <span class="new {{ $color }} darken-4 badge z-depth-1 hoverable m-b-5" 
              data-badge-caption="{{ $key }}"><strong>{{ $postCount }}</strong></span>
      </a>
    {{ end }}
  {{- end }}

  <div class="clearfix"></div>
{{ end }}

{{ define "index-body" }}
  {{ $color := "blue" }}
  
  <div class="row">
    {{ range $key, $value := .Data.Terms }}
      {{ $dict := (dict "Color" $color "Key" $key "Value" $value "Data" $.Data) }}
      {{ partial "summary/term-list-box.html" $dict }}
    {{ end }}
  </div>
{{ end }}
