{{ define "main" }}
  <main role="main" class="col s12 m12">
    <section class="index-wrapper blue-grey">
      <div class="blog white z-depth-3 hoverable">

        <article class="blog-index" itemprop="articleBody">
          {{ .Content }}
        </article>

      </div>
    </section>
  </main>
{{ end }}
